### Package/Library Imports

In [3]:
from config import API_KEY # import API_KEY from config file

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests 
import pandas as pd 
from io import StringIO

### Read data using API

In [10]:
# **Preferred Method**: Export Endpoint

#Function to collect data 
def collect_data(dataset_id):
    base_url = 'https://data.melbourne.vic.gov.au/api/explore/v2.1/catalog/datasets/'
    dataset_id = dataset_id
    format = 'csv'

    url = f'{base_url}{dataset_id}/exports/{format}'
    params = {
    'select': '*',
    'limit': -1, # all records
    'lang': 'en',
    'timezone': 'UTC',
    'api_key': API_KEY #use if use datasets require API key permissions
    }

    # GET request
    response = requests.get(url, params=params)
    if response.status_code == 200:
        # StringIO to read the CSV data
        url_content = response.content.decode('utf-8')
        dataset = pd.read_csv(StringIO(url_content), delimiter=';')
        return dataset 
    else:
        print(f'Request failed with status code {response.status_code}')

# Read data using the function
cafe_df = collect_data('cafes-and-restaurants-with-seating-capacity')
emp_block_df = collect_data('employment-by-block-by-clue-industry')
block_df = collect_data('blocks-for-census-of-land-use-and-employment-clue')

### Learn and explore the data

#### Cafes/Restaurants with seating capacity

In [18]:
cafe_df.head(5)

,census_year,block_id,property_id,base_property_id,building_address,clue_small_area,trading_name,business_address,industry_anzsic4_code,industry_anzsic4_description,seating_type,number_of_seats,longitude,latitude,location
0,2017,6,578324,573333,2 Swanston Street MELBOURNE 3000,Melbourne (CBD),Transport Hotel,"Tenancy 29, Ground , 2 Swanston Street MELBOUR...",4520,"Pubs, Taverns and Bars",Seats - Indoor,230,144.969942,-37.817778,"-37.817777826050005, 144.96994164279243"
1,2017,6,578324,573333,2 Swanston Street MELBOURNE 3000,Melbourne (CBD),Transport Hotel,"Tenancy 29, Ground , 2 Swanston Street MELBOUR...",4520,"Pubs, Taverns and Bars",Seats - Outdoor,120,144.969942,-37.817778,"-37.817777826050005, 144.96994164279243"
2,2017,11,103957,103957,517-537 Flinders Lane MELBOURNE 3000,Melbourne (CBD),Altius Coffee Brewers,"Shop , Ground , 517 Flinders Lane MELBOURNE 3000",4512,Takeaway Food Services,Seats - Outdoor,4,144.956486,-37.819875,"-37.819875445799994, 144.95648638781466"
3,2017,11,103957,103957,517-537 Flinders Lane MELBOURNE 3000,Melbourne (CBD),Five & Dime Bagel,16 Flinders Lane MELBOURNE 3000,1174,Bakery Product Manufacturing (Non-factory based),Seats - Indoor,14,144.956486,-37.819875,"-37.819875445799994, 144.95648638781466"
4,2017,11,103985,103985,562-564 Flinders Street MELBOURNE 3000,Melbourne (CBD),YHA Melbourne Central,562-564 Flinders Street MELBOURNE 3000,4400,Accommodation,Seats - Indoor,43,144.955635,-37.820595,"-37.82059511593975, 144.9556348088"

**Employment by block**

In [17]:
emp_block_df.head(5)

,census_year,block_id,clue_small_area,accommodation,admin_and_support_services,agriculture_and_mining,arts_and_recreation_services,business_services,construction,education_and_training,...,information_media_and_telecommunications,manufacturing,other_services,public_administration_and_safety,real_estate_services,rental_and_hiring_services,retail_trade,transport_postal_and_storage,wholesale_trade,total_jobs_in_block
0,2022,4,Melbourne (CBD),0.0,0.0,0.0,362.0,0.0,0.0,NaN,...,0.0,0.0,NaN,0.0,0.0,0.0,38.0,368.0,0.0,1008.0
1,2022,5,Melbourne (CBD),0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2022,6,Melbourne (CBD),0.0,0.0,0.0,203.0,0.0,0.0,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,47.0,0.0,0.0,647.0
3,2022,13,Melbourne (CBD),NaN,520.0,0.0,NaN,496.0,NaN,NaN,...,55.0,NaN,27.0,0.0,0.0,0.0,NaN,NaN,0.0,2379.0
4,2022,16,Melbourne (CBD),NaN,NaN,0.0,86.0,382.0,295.0,NaN,...,0.0,0.0,64.0,0.0,NaN,0.0,60.0,0.0,0.0,2404.0

**Blocks info**

In [19]:
block_df.head(5)

,geo_point_2d,geo_shape,block_id,clue_area
0,"-37.82296169692379, 144.95049282288122","{""coordinates"": [[[144.9479230372, -37.8233694...",1112,Docklands
1,"-37.78537422996195, 144.94085920366408","{""coordinates"": [[[144.9426153438, -37.7866287...",927,Parkville
2,"-37.777687358375964, 144.94600024715058","{""coordinates"": [[[144.9425926939, -37.7787229...",929,Parkville
3,"-37.796701447217345, 144.94361235073427","{""coordinates"": [[[144.9447165759, -37.7961286...",318,North Melbourne
4,"-37.79293972627454, 144.94371829763847","{""coordinates"": [[[144.9453910459, -37.7925266...",302,North Melbourne

In [20]:
# Shape of the Dataset
print("Shape of the dataset : ",cafe_df.shape)
print()
print('Dataset Info')
print()
# display all columns and their data types
print(cafe_df.info())

Shape of the dataset :  (60055, 15)

Dataset Info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60055 entries, 0 to 60054
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   census_year                   60055 non-null  int64
 1   block_id                      60055 non-null  int64
 2   property_id                   60055 non-null  int64
 3   base_property_id              60055 non-null  int64
 4   building_address              60055 non-null  object
 5   clue_small_area               60055 non-null  object
 6   trading_name                  60055 non-null  object
 7   business_address              60055 non-null  object
 8   industry_anzsic4_code         60055 non-null  int64
 9   industry_anzsic4_description  60055 non-null  object
 10  seating_type                  60055 non-null  object
 11  number_of_seats               60055 non-null  int64
 12  longitude                     59528 non-null  float64
 13  latitude                      59528 non-null  float64
 14  location                      59528 non-null  object
dtypes: float64(2), int64(6), object(7)
memory usage: 6.9+ MB
None

In [18]:
# Function to perform descriptive analysis
def descriptive_analysis(df, df_name):
    print(f"Descriptive Analysis for {df_name}")
    print("="*50)

    # Get the shape of the DataFrame
    print("\nShape of the DataFrame:")
    print(df.shape)
    
    # Get a concise summary
    print("\nInfo:")
    df.info()
    
    # Generate descriptive statistics
    print("\nDescriptive Statistics:")
    print(df.describe(include='all'))
    
    # Get the data types of each column
    print("\nData Types:")
    print(df.dtypes)
    
    # Get the value counts for each column (only for object type columns)
    for column in df.select_dtypes(include=['object']).columns:
        print(f"\nValue Counts for {column} Column:")
        print(df[column].value_counts())

    """   
    # Get the unique values for each column (only for object type columns)
    for column in df.select_dtypes(include=['object']).columns:
        print(f"\nUnique Values in {column} Column:")
        print(df[column].unique())
    """

    # Get the count of missing values in each column
    print("\nMissing Values in Each Column:")
    print(df.isnull().sum())
    
    print("\n" + "="*50 + "\n")

# Perform descriptive analysis on each DataFrame
descriptive_analysis(cafe_df, "Cafe Data")
descriptive_analysis(emp_block_df, "Employment by Block Data")
descriptive_analysis(block_df, "Block Data")

Descriptive Analysis for Cafe Data
==================================================

Shape of the DataFrame:
(60055, 15)

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60055 entries, 0 to 60054
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   census_year                   60055 non-null  int64
 1   block_id                      60055 non-null  int64
 2   property_id                   60055 non-null  int64
 3   base_property_id              60055 non-null  int64
 4   building_address              60055 non-null  object
 5   clue_small_area               60055 non-null  object
 6   trading_name                  60055 non-null  object
 7   business_address              60055 non-null  object
 8   industry_anzsic4_code         60055 non-null  int64
 9   industry_anzsic4_description  60055 non-null  object
 10  seating_type                  60055 non-null  object
 11  number_of_seats               60055 non-null  int64
 12  longitude                     59528 non-null  float64
 13  latitude                      59528 non-null  float64
 14  location                      59528 non-null  object
dtypes: float64(2), int64(6), object(7)
memory usage: 6.9+ MB

Descriptive Statistics:
         census_year      block_id    property_id  base_property_id  \
count   60055.000000  60055.000000   60055.000000      60055.000000
unique           NaN           NaN            NaN               NaN
top              NaN           NaN            NaN               NaN
freq             NaN           NaN            NaN               NaN
mean     2013.105753    302.599584  190454.495562     171621.006427
std         5.710698    403.356202  184936.904298     165742.069441
min      2002.000000      1.000000  100041.000000     100041.000000
25%      2009.000000     47.000000  103920.000000     103703.000000
50%      2014.000000     85.000000  106222.000000     106095.000000
75%      2018.000000    423.000000  110606.000000     109953.000000
max      2022.000000   2546.000000  714410.000000     707517.000000

                              building_address  clue_small_area trading_name  \
count                                    60055            60055        60055
unique                                    3294               13         6771
top     183-265 La Trobe Street MELBOURNE 3000  Melbourne (CBD)       Subway
freq                                       711            34224          467
mean                                       NaN              NaN          NaN
std                                        NaN              NaN          NaN
min                                        NaN              NaN          NaN
25%                                        NaN              NaN          NaN
50%                                        NaN              NaN          NaN
75%                                        NaN              NaN          NaN
max                                        NaN              NaN          NaN

                                        business_address  \
count                                              60055
unique                                              7250
top     Shop , 535 Little Lonsdale Street MELBOURNE 3000
freq                                                 126
mean                                                 NaN
std                                                  NaN
min                                                  NaN
25%                                                  NaN
50%                                                  NaN
75%                                                  NaN
max                                                  NaN

        industry_anzsic4_code industry_anzsic4_description    seating_type  \
count            60055.000000                        60055           60055
unique                    NaN                           71               2
top                       NaN        Cafes and Restaurants  Seats - Indoor
freq                      NaN                        44982           39215
mean              4541.629889                          NaN             NaN
std                533.918318                          NaN             NaN
min                  0.000000                          NaN             NaN
25%               4511.000000                          NaN             NaN
50%               4511.000000                          NaN             NaN
75%               4511.000000                          NaN             NaN
max               9900.000000                          NaN             NaN

        number_of_seats     longitude      latitude  \
count      60055.000000  59528.000000  59528.000000
unique              NaN           NaN           NaN
top                 NaN           NaN           NaN
freq                NaN           NaN           NaN
mean          57.677379    144.961282    -37.812540
std          148.969012      0.010732      0.008636
min            0.000000    144.904169    -37.849719
25%           16.000000    144.956768    -37.816742
50%           35.000000    144.962922    -37.813288
75%           70.000000    144.967269    -37.808870
max         4920.000000    144.990570    -37.776195

                                  location
count                                59528
unique                                7328
top     -37.8109017475, 144.96283887063584
freq                                   361
mean                                   NaN
std                                    NaN
min                                    NaN
25%                                    NaN
50%                                    NaN
75%                                    NaN
max                                    NaN

Data Types:
census_year                       int64
block_id                          int64
property_id                       int64
base_property_id                  int64
building_address                 object
clue_small_area                  object
trading_name                     object
business_address                 object
industry_anzsic4_code             int64
industry_anzsic4_description     object
seating_type                     object
number_of_seats                   int64
longitude                       float64
latitude                        float64
location                         object
dtype: object

Value Counts for building_address Column:
building_address
183-265 La Trobe Street MELBOURNE 3000                          711
221 Little Lonsdale Street MELBOURNE 3000                       607
3 Southgate Avenue SOUTHBANK 3006                               545
8 Whiteman Street SOUTHBANK 3006                                508
2 Swanston Street MELBOURNE 3000                                361
                                                               ...
67-69 Stanley Street WEST MELBOURNE VIC 3003                      1
445-447 Queensberry Street NORTH MELBOURNE VIC 3051               1
107-113 Elizabeth Street MELBOURNE VIC 3000                       1
Great Southern Hotel 44-64 Spencer Street MELBOURNE VIC 3000      1
50 Peel Street MELBOURNE 3000                                     1
Name: count, Length: 3294, dtype: int64

Value Counts for clue_small_area Column:
clue_small_area
Melbourne (CBD)                 34224
Carlton                          7071
Docklands                        4761
Southbank                        3787
North Melbourne                  2794
West Melbourne (Residential)     1554
East Melbourne                   1476
Melbourne (Remainder)            1402
Parkville                        1073
Kensington                        905
Port Melbourne                    501
South Yarra                       324
West Melbourne (Industrial)       183
Name: count, dtype: int64

Value Counts for trading_name Column:
trading_name
Subway                          467
McDonald's                      255
Shuji Sushi                     212
KFC                             187
Nando's                         183
                               ...
Nana Thai Style Hotpot & Bbq      1
Magpie Nest Cafe                  1
Espresso Lounge On Collins        1
Brightside Bagels                 1
Kin Ka Ter                        1
Name: count, Length: 6771, dtype: int64

Value Counts for business_address Column:
business_address
Shop , 535 Little Lonsdale Street MELBOURNE 3000         126
338-352 Bourke Street MELBOURNE 3000                     107
Part Ground , 6 Riverside Quay SOUTHBANK 3006             76
18-38 Siddeley Street DOCKLANDS 3005                      74
8 Whiteman Street SOUTHBANK 3006                          73
                                                        ...
356 Victoria Parade EAST MELBOURNE 3002                    1
133 Jolimont Road EAST MELBOURNE 3002                      1
Shop 1-2, Ground 601 Bourke Street MELBOURNE VIC 3000      1
Part 109 Batman Street WEST MELBOURNE 3003                 1
245-247 Swanston Street MELBOURNE 3000                     1
Name: count, Length: 7250, dtype: int64

Value Counts for industry_anzsic4_description Column:
industry_anzsic4_description
Cafes and Restaurants                              44982
Takeaway Food Services                              8164
Pubs, Taverns and Bars                              3716
Accommodation                                       1129
Other Specialised Food Retailing                     269
                                                   ...
Other Auxiliary Finance and Investment Services        2
Architectural Services                                 2
Business and Professional Association Services         2
Management Advice and Other Consulting Services        2
Computer System Design and Related Services            1
Name: count, Length: 71, dtype: int64

Value Counts for seating_type Column:
seating_type
Seats - Indoor     39215
Seats - Outdoor    20840
Name: count, dtype: int64

Value Counts for location Column:
location
-37.8109017475, 144.96283887063584        361
-37.81067861705, 144.965725053002         295
-37.81281419155, 144.97010937553796       226
-37.80443770225933, 144.96670202450002    208
-37.81812972055, 144.94735092900342       207
                                         ...
-37.812862290243714, 144.97119695115        1
-37.81280974330889, 144.97144185730002      1
-37.81247586065, 144.97200838873655         1
-37.81225381717091, 144.9724843766          1
-37.8177382698, 144.96161430901446          1
Name: count, Length: 7328, dtype: int64

Missing Values in Each Column:
census_year                       0
block_id                          0
property_id                       0
base_property_id                  0
building_address                  0
clue_small_area                   0
trading_name                      0
business_address                  0
industry_anzsic4_code             0
industry_anzsic4_description      0
seating_type                      0
number_of_seats                   0
longitude                       527
latitude                        527
location                        527
dtype: int64

==================================================

Descriptive Analysis for Employment by Block Data
==================================================

Shape of the DataFrame:
(12394, 24)

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12394 entries, 0 to 12393
Data columns (total 24 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   census_year                               12394 non-null  int64
 1   block_id                                  12394 non-null  int64
 2   clue_small_area                           12394 non-null  object
 3   accommodation                             9986 non-null   float64
 4   admin_and_support_services                10375 non-null  float64
 5   agriculture_and_mining                    11795 non-null  float64
 6   arts_and_recreation_services              8467 non-null   float64
 7   business_services                         10519 non-null  float64
 8   construction                              10319 non-null  float64
 9   education_and_training                    9841 non-null   float64
 10  electricity_gas_water_and_waste_services  9926 non-null   float64
 11  finance_and_insurance                     10816 non-null  float64
 12  food_and_beverage_services                9766 non-null   float64
 13  health_care_and_social_assistance         9834 non-null   float64
 14  information_media_and_telecommunications  10096 non-null  float64
 15  manufacturing                             10085 non-null  float64
 16  other_services                            9114 non-null   float64
 17  public_administration_and_safety          10542 non-null  float64
 18  real_estate_services                      10603 non-null  float64
 19  rental_and_hiring_services                11534 non-null  float64
 20  retail_trade                              9884 non-null   float64
 21  transport_postal_and_storage              10145 non-null  float64
 22  wholesale_trade                           9865 non-null   float64
 23  total_jobs_in_block                       9708 non-null   float64
dtypes: float64(21), int64(2), object(1)
memory usage: 2.3+ MB

Descriptive Statistics:
         census_year      block_id clue_small_area  accommodation  \
count   12394.000000  12394.000000           12394    9986.000000
unique           NaN           NaN              14            NaN
top              NaN           NaN      Kensington            NaN
freq             NaN           NaN            2169            NaN
mean     2012.209940    623.732774             NaN      23.959243
std         5.995895    597.590420             NaN     418.105083
min      2002.000000      0.000000             NaN       0.000000
25%      2007.000000    259.000000             NaN       0.000000
50%      2012.000000    509.000000             NaN       0.000000
75%      2017.000000    783.000000             NaN       0.000000
max      2022.000000   2548.000000             NaN   10809.000000

        admin_and_support_services  agriculture_and_mining  \
count                 10375.000000            11795.000000
unique                         NaN                     NaN
top                            NaN                     NaN
freq                           NaN                     NaN
mean                     48.848675                7.872064
std                     622.932139              157.449595
min                       0.000000                0.000000
25%                       0.000000                0.000000
50%                       0.000000                0.000000
75%                       0.000000                0.000000
max                   16331.000000             4483.000000

        arts_and_recreation_services  business_services  construction  \
count                    8467.000000       10519.000000  10319.000000
unique                           NaN                NaN           NaN
top                              NaN                NaN           NaN
freq                             NaN                NaN           NaN
mean                      102.280855         266.471338     15.554705
std                      1237.830467        3159.932340    242.875191
min                         0.000000           0.000000      0.000000
25%                         0.000000           0.000000      0.000000
50%                         0.000000           0.000000      0.000000
75%                         0.000000          34.000000      0.000000
max                     27259.000000       87174.000000   7872.000000

        education_and_training  ...  information_media_and_telecommunications  \
count              9841.000000  ...                              10096.000000
unique                     NaN  ...                                       NaN
top                        NaN  ...                                       NaN
freq                       NaN  ...                                       NaN
mean                 76.834163  ...                                 87.025357
std                1071.301446  ...                               1310.905330
min                   0.000000  ...                                  0.000000
25%                   0.000000  ...                                  0.000000
50%                   0.000000  ...                                  0.000000
75%                   0.000000  ...                                  0.000000
max               26843.000000  ...                              35728.000000

        manufacturing  other_services  public_administration_and_safety  \
count    10085.000000     9114.000000                      10542.000000
unique            NaN             NaN                               NaN
top               NaN             NaN                               NaN
freq              NaN             NaN                               NaN
mean        46.123451       47.925938                        135.890059
std        688.570733      543.285778                       1820.375564
min          0.000000        0.000000                          0.000000
25%          0.000000        0.000000                          0.000000
50%          0.000000        0.000000                          0.000000
75%          0.000000       15.000000                          0.000000
max      17169.000000    13372.000000                      53940.000000

        real_estate_services  rental_and_hiring_services  retail_trade  \
count           10603.000000                11534.000000   9884.000000
unique                   NaN                         NaN           NaN
top                      NaN                         NaN           NaN
freq                     NaN                         NaN           NaN
mean               16.291050                    1.548986     79.008499
std               249.069877                   33.556326    911.012990
min                 0.000000                    0.000000      0.000000
25%                 0.000000                    0.000000      0.000000
50%                 0.000000                    0.000000      0.000000
75%                 0.000000                    0.000000      9.000000
max              9969.000000                 1503.000000  21724.000000

        transport_postal_and_storage  wholesale_trade  total_jobs_in_block
count                   10145.000000      9865.000000          9708.000000
unique                           NaN              NaN                  NaN
top                              NaN              NaN                  NaN
freq                             NaN              NaN                  NaN
mean                       44.677181        27.778409          1798.285126
std                       652.811957       398.216516         19688.457405
min                         0.000000         0.000000             0.000000
25%                         0.000000         0.000000            27.000000
50%                         0.000000         0.000000           159.000000
75%                         0.000000         0.000000           788.250000
max                     16395.000000     11377.000000        498265.000000

[11 rows x 24 columns]

Data Types:
census_year                                   int64
block_id                                      int64
clue_small_area                              object
accommodation                               float64
admin_and_support_services                  float64
agriculture_and_mining                      float64
arts_and_recreation_services                float64
business_services                           float64
construction                                float64
education_and_training                      float64
electricity_gas_water_and_waste_services    float64
finance_and_insurance                       float64

In [17]:
# Check for empty strings, whitespace, and NaN in specific columns
columns_to_check = ['longitude', 'latitude', 'location']
for column in columns_to_check:
    if cafe_df[column].dtype == 'object':
        empty_strings = (cafe_df[column] == '').sum()
        whitespace = (cafe_df[column].str.isspace()).sum()
        print(f"Column '{column}': Empty strings = {empty_strings}, Whitespace = {whitespace}")
        # Replace empty strings and whitespace with NaN
        cafe_df[column] = cafe_df[column].replace(r'^\s*$', pd.NA, regex=True)
    else:
        missing_values = cafe_df[column].isna().sum()
        print(f"Column '{column}': Missing values = {missing_values}")

# Check for null values after replacement
print("\nMissing Values in Each Column (After Replacement):")
print(cafe_df.isnull().sum())

Column 'longitude': Missing values = 527
Column 'latitude': Missing values = 527
Column 'location': Empty strings = 0, Whitespace = 0

Missing Values in Each Column (After Replacement):
census_year                       0
block_id                          0
property_id                       0
base_property_id                  0
building_address                  0
clue_small_area                   0
trading_name                      0
business_address                  0
industry_anzsic4_code             0
industry_anzsic4_description      0
seating_type                      0
number_of_seats                   0
longitude                       527
latitude                        527
location                        527
dtype: int64