_**DELETE BEFORE PUBLISHING**_

_This is a template also containing the style guide for use cases. The styling uses the use-case css when uploaded to the website, which will not be visible on your local machine._

_Change any text marked with {} and delete any cells marked DELETE_

***

In [ ]:
# DELETE BEFORE PUBLISHING
# This is just here so you can preview the styling on your local machine

from IPython.core.display import HTML
HTML("""
<style>
.usecase-title, .usecase-duration, .usecase-section-header {
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 15px;
    background-color: #0f9295;
    color: #fff;
}

.usecase-title {
    font-size: 1.7em;
    font-weight: bold;
}

.usecase-authors, .usecase-level, .usecase-skill {
    padding-left: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    background-color: #baeaeb;
    font-size: 1.4em;
    color: #121212;
}

.usecase-level-skill  {
    display: flex;
}

.usecase-level, .usecase-skill {
    width: 50%;
}

.usecase-duration, .usecase-skill {
    text-align: right;
    padding-right: 15px;
    padding-bottom: 8px;
    font-size: 1.4em;
}

.usecase-section-header {
    font-weight: bold;
    font-size: 1.5em;
}

.usecase-subsection-header, .usecase-subsection-blurb {
    font-weight: bold;
    font-size: 1.2em;
    color: #121212;
}

.usecase-subsection-blurb {
    font-size: 1em;
    font-style: italic;
}
</style>
""")

<div class="usecase-title">{Use Case Name}</div>

<div class="usecase-authors"><b>Authored by: </b> {Author/s}</div>

<div class="usecase-duration"><b>Duration:</b> {90} mins</div>

<div class="usecase-level-skill">
    <div class="usecase-level"><b>Level: </b>{Intermediate}</div>
    <div class="usecase-skill"><b>Pre-requisite Skills: </b>{Python, and add any more skills needed}</div>
</div>

<div class="usecase-section-header">Scenario</div>

{Using User Story format, write a description of the problem you are trying to solve for this use case.}

<div class="usecase-section-header">What this use case will teach you</div>

At the end of this use case you will:
- {list the skills demonstrated in your use case}

<div class="usecase-section-header">{Heading for introduction or background relating to problem}</div>

{Write your introduction here. Keep it concise. We're not after "War and Peace" but enough background information to inform the reader on the rationale for solving this problem or background non-technical information that helps explain the approach. You may also wish to give information on the datasets, particularly how to source those not being imported from the client's open data portal.}

***

_**DELETE BEFORE PUBLISHING**_

## Style guide for use cases

### Headers

For styling within your markdown cells, there are two choices you can use for headers.

1) You can use HTML classes specific to the use case styling:

```<p class="usecase-subsection-header">This is a subsection header.</p>```

<p style="font-weight: bold; font-size: 1.2em;">This is a subsection header.</p>

```<p class="usecase-subsection-blurb">This is a blurb header.</p>```

<p style="font-weight: bold; font-size: 1em; font-style:italic;">This is a blurb header.</p>


2) Or if you like you can use the markdown header styles:

```# for h1```

```## for h2```

```### for h3```

```#### for h4```

```##### for h5```

## Plot colour schemes

General advice:
1. Use the same colour or colour palette throughout your notebook, unless variety is necessary
2. Select a palette based on the type of data being represented
3. Consider accessibility (colourblindness, low vision)

#### 1) If all of your plots only use 1-2 colors use one of the company style colors:

| Light theme | Dark Theme |
|-----|-----|
|<p style="color:#2af598;">#2af598</p>|<p style="color:#08af64;">#08af64</p>|
|<p style="color:#22e4ac;">#22e4ac</p>|<p style="color:#14a38e;">#14a38e</p>|
|<p style="color:#1bd7bb;">#1bd7bb</p>|<p style="color:#0f9295;">#0f9295</p>|
|<p style="color:#14c9cb;">#14c9cb</p>|<p style="color:#056b8a;">#056b8a</p>|
|<p style="color:#0fbed8;">#0fbed8</p>|<p style="color:#121212;">#121212</p>|
|<p style="color:#08b3e5;">#08b3e5</p>||


#### 2) If your plot needs multiple colors, choose an appropriate palette using either of the following tutorials:
- https://seaborn.pydata.org/tutorial/color_palettes.html
- https://matplotlib.org/stable/tutorials/colors/colormaps.html

#### 3) Consider accessibility as well.

For qualitative plotting Seaborn's 'colorblind' palette is recommended. For maps with sequential or diverging it is recommended to use one of the Color Brewer schemes which can be previewed at https://colorbrewer2.org/.

If you want to design your own colour scheme, it should use the same principles as Cynthia Brewer's research (with variation not only in hue but also, saturation or luminance).

### References

Be sure to acknowledge your sources and any attributions using links or a reference list.

If you have quite a few references, you might wish to have a dedicated section for references at the end of your document, linked using footnote style numbers.

You can connect your in-text reference by adding the number with a HTML link: ```<a href="#fn-1">[1]</a>```

and add a matching ID in the reference list using the ```<fn>``` tag: ```<fn id="fn-1">[1] Author (Year) _Title_, Publisher, Publication location.</fn>```

In [2]:
import warnings
warnings.filterwarnings("ignore")

import requests
import numpy as np
import pandas as pd
from io import StringIO

In [3]:
# business-establishments-and-jobs-data-by-business-size-and-industry
# business-establishments-with-address-and-industry-classification
# Street-address

In [4]:
base_url='https://data.melbourne.vic.gov.au/api/explore/v2.1/catalog/datasets/'
dataset_id='business-establishments-and-jobs-data-by-business-size-and-industry'


url=f'{base_url}{dataset_id}/exports/csv'
params={'select':'*','limit':-1,'lang':'en','timezone':'UTC' }

response=requests.get(url,params=params)

if response.status_code==200:
    url_content=response.content.decode('utf-8')
    bizsize_industryjobs=pd.read_csv(StringIO(url_content),delimiter=';')
    print(bizsize_industryjobs.head(10))
else:
    print(f'Request failed with status code {response.status_code}')

   census_year               clue_small_area  \
0         2015  West Melbourne (Residential)
1         2015  West Melbourne (Residential)
2         2015  West Melbourne (Residential)
3         2015  West Melbourne (Residential)
4         2015  West Melbourne (Residential)
5         2015  West Melbourne (Residential)
6         2014                       Carlton
7         2014                       Carlton
8         2014                       Carlton
9         2014                       Carlton

                                   anzsic_indusrty  \
0                Health Care and Social Assistance
1                                    Manufacturing
2                                    Manufacturing
3  Professional, Scientific and Technical Services
4          Rental, Hiring and Real Estate Services
5                                  Wholesale Trade
6              Administrative and Support Services
7                                     Construction
8                 Financial and Insurance Services
9                 Financial and Insurance Services

                       clue_industry    business_size  total_establishments  \
0  Health Care and Social Assistance   Large business                     1
1                      Manufacturing  Medium business                     5
2                      Manufacturing    Non employing                     1
3                  Business Services    Non employing                     3
4               Real Estate Services   Small business                     5
5                    Wholesale Trade    Non employing                     2
6         Admin and Support Services  Medium business                     7
7                       Construction   Small business                    11
8              Finance and Insurance  Medium business                     5
9              Finance and Insurance   Small business                    35

   total_jobs
0         NaN
1       171.0
2         NaN
3         0.0
4        42.0
5         NaN
6       209.0
7        55.0
8       315.0
9       216.0

In [5]:

base_url='https://data.melbourne.vic.gov.au/api/explore/v2.1/catalog/datasets/'
dataset_id='business-establishments-with-address-and-industry-classification'


url=f'{base_url}{dataset_id}/exports/csv'
params={'select':'*','limit':-1,'lang':'en','timezone':'UTC'}

response=requests.get(url,params=params)

if response.status_code==200:
    url_content=response.content.decode('utf-8')
    bizaddressindustry=pd.read_csv(StringIO(url_content),delimiter=';')
    print(bizaddressindustry.head(10))
else:
    print(f'Request failed with status code {response.status_code}')

   census_year  block_id  property_id  base_property_id  clue_small_area  \
0         2003       105       100172            100172  Melbourne (CBD)
1         2003       105       103301            103301  Melbourne (CBD)
2         2003       105       103302            103302  Melbourne (CBD)
3         2003       105       103302            103302  Melbourne (CBD)
4         2003       105       103302            103302  Melbourne (CBD)
5         2003       105       103302            103302  Melbourne (CBD)
6         2003       105       103302            103302  Melbourne (CBD)
7         2003       105       103302            103302  Melbourne (CBD)
8         2003       105       103302            103302  Melbourne (CBD)
9         2003       105       109319            109319  Melbourne (CBD)

                                        trading_name  \
0                           Wilson Parking Australia
1                Melbourne International Backpackers
2                                             Vacant
3                                    The Garden Cafe
4                                Telephony Australia
5                                       Nokia Centre
6            Royal Melbourne Institute of Technology
7                                             Mistas
8  Australian Services Union Taxation Officers Br...
9                                    RMIT University

                                    business_address  industry_anzsic4_code  \
0              24-46 A'Beckett Street MELBOURNE 3000                   9533
1            442-450 Elizabeth Street MELBOURNE 3000                   4400
2            422-440 Elizabeth Street MELBOURNE 3000                      0
3  Shop 3, Ground , 422-440 Elizabeth Street MELB...                   4511
4  Shop 5, Ground , 422-440 Elizabeth Street MELB...                   5809
5  Shop 2, Ground , 422-440 Elizabeth Street MELB...                   5809
6            422-440 Elizabeth Street MELBOURNE 3000                   8102
7  Part Level 3, 440 Elizabeth Street MELBOURNE 3000                   6962
8  Part Level 3, 440 Elizabeth Street MELBOURNE 3000                   9552
9        Floor 1, 449 Swanston Street MELBOURNE 3000                   8102

                      industry_anzsic4_description   longitude   latitude
0                                 Parking Services  144.962053 -37.808573
1                                    Accommodation  144.960868 -37.808309
2                                     Vacant Space  144.961017 -37.808630
3                            Cafes and Restaurants  144.961017 -37.808630
4                Other Telecommunications Services  144.961017 -37.808630
5                Other Telecommunications Services  144.961017 -37.808630
6                                 Higher Education  144.961017 -37.808630
7  Management Advice and Other Consulting Services  144.961017 -37.808630
8                      Labour Association Services  144.961017 -37.808630
9                                 Higher Education  144.962602 -37.808052

In [6]:

base_url='https://data.melbourne.vic.gov.au/api/explore/v2.1/catalog/datasets/'
dataset_id='street-addresses'


url=f'{base_url}{dataset_id}/exports/csv'
params={'select':'*','limit':-1,'lang':'en','timezone':'UTC'}

response=requests.get(url,params=params)

if response.status_code==200:
    url_content=response.content.decode('utf-8')
    street_add=pd.read_csv(StringIO(url_content),delimiter=';')
    print(street_add.head(10))
else:
    print(f'Request failed with status code {response.status_code}')

                         geo_point_2d  \
0  -37.802381557572, 144.941473440919
1  -37.816860132435, 144.969991449806
2  -37.798830275265, 144.942872100233
3  -37.810546771396, 144.970906397029
4  -37.789293657657, 144.939794028368
5  -37.800782747366, 144.951363910142
6  -37.826775193662, 144.959358160779
7  -37.810925617843, 144.965443591832
8   -37.81275302482, 144.964263891172
9   -37.821209833971, 144.95403377339

                                           geo_shape  suburb_id   latitude  \
0  {"coordinates": [144.941473440919, -37.8023815...      592.0 -37.802382
1  {"coordinates": [144.969991449806, -37.8168601...      591.0 -37.816860
2  {"coordinates": [144.942872100233, -37.7988302...      592.0 -37.798830
3  {"coordinates": [144.970906397029, -37.8105467...      591.0 -37.810547
4  {"coordinates": [144.939794028368, -37.7892936...      592.0 -37.789294
5  {"coordinates": [144.951363910142, -37.8007827...      592.0 -37.800783
6  {"coordinates": [144.959358160779, -37.8267751...      596.0 -37.826775
7  {"coordinates": [144.965443591832, -37.8109256...      591.0 -37.810926
8  {"coordinates": [144.964263891172, -37.8127530...      591.0 -37.812753
9  {"coordinates": [144.95403377339, -37.82120983...      599.0 -37.821210

  street_no              str_name                          address_pnt  \
0       133        Laurens Street  133 Laurens Street  North Melbourne
1       129       Flinders Street       129 Flinders Street  Melbourne
2        44         Macaulay Road    44 Macaulay Road  North Melbourne
3        13            Punch Lane             13 Punch Lane  Melbourne
4        61       Racecourse Road  61 Racecourse Road  North Melbourne
5       133        Leveson Street  133 Leveson Street  North Melbourne
6       263             City Road             263 City Road  Southbank
7         3    Albert Coates Lane      3 Albert Coates Lane  Melbourne
8       280  Little Bourke Street  280 Little Bourke Street  Melbourne
9       612       Flinders Street       612 Flinders Street  Docklands

         easting      northing  gisid   longitude           suburb  street_id  \
0  318773.161972  5.814115e+06  48531  144.941473  North Melbourne        781
1  321318.983104  5.812563e+06  37711  144.969991        Melbourne        636
2  318887.633593  5.814512e+06  30476  144.942872  North Melbourne        847
3  321384.307636  5.813265e+06  35165  144.970906        Melbourne       1003
4  318593.277492  5.815564e+06  22247  144.939794  North Melbourne     119624
5  319640.094405  5.814311e+06  54777  144.951364  North Melbourne        791
6  320406.983288  5.811443e+06  46380  144.959358        Southbank       1345
7  320904.296420  5.813213e+06  14049  144.965444        Melbourne     117923
8  320804.859001  5.813008e+06  28925  144.964264        Melbourne        809
9  319924.815030  5.812050e+06   1278  144.954034        Docklands        636

  add_comp
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN

Street_add handling

In [10]:
street_add.dtypes

geo_point_2d     object
geo_shape        object
suburb_id       float64
latitude        float64
street_no        object
str_name         object
address_pnt      object
easting         float64
northing        float64
gisid             int64
longitude       float64
suburb           object
street_id         int64
add_comp         object
dtype: object

In [7]:
street_add.head()

,geo_point_2d,geo_shape,suburb_id,latitude,street_no,str_name,address_pnt,easting,northing,gisid,longitude,suburb,street_id,add_comp
0,"-37.802381557572, 144.941473440919","{""coordinates"": [144.941473440919, -37.8023815...",592.0,-37.802382,133,Laurens Street,133 Laurens Street North Melbourne,318773.161972,5.814115e+06,48531,144.941473,North Melbourne,781,NaN
1,"-37.816860132435, 144.969991449806","{""coordinates"": [144.969991449806, -37.8168601...",591.0,-37.816860,129,Flinders Street,129 Flinders Street Melbourne,321318.983104,5.812563e+06,37711,144.969991,Melbourne,636,NaN
2,"-37.798830275265, 144.942872100233","{""coordinates"": [144.942872100233, -37.7988302...",592.0,-37.798830,44,Macaulay Road,44 Macaulay Road North Melbourne,318887.633593,5.814512e+06,30476,144.942872,North Melbourne,847,NaN
3,"-37.810546771396, 144.970906397029","{""coordinates"": [144.970906397029, -37.8105467...",591.0,-37.810547,13,Punch Lane,13 Punch Lane Melbourne,321384.307636,5.813265e+06,35165,144.970906,Melbourne,1003,NaN
4,"-37.789293657657, 144.939794028368","{""coordinates"": [144.939794028368, -37.7892936...",592.0,-37.789294,61,Racecourse Road,61 Racecourse Road North Melbourne,318593.277492,5.815564e+06,22247,144.939794,North Melbourne,119624,NaN

In [8]:
bizaddressindustry.head()

,census_year,block_id,property_id,base_property_id,clue_small_area,trading_name,business_address,industry_anzsic4_code,industry_anzsic4_description,longitude,latitude
0,2003,105,100172,100172,Melbourne (CBD),Wilson Parking Australia,24-46 A'Beckett Street MELBOURNE 3000,9533,Parking Services,144.962053,-37.808573
1,2003,105,103301,103301,Melbourne (CBD),Melbourne International Backpackers,442-450 Elizabeth Street MELBOURNE 3000,4400,Accommodation,144.960868,-37.808309
2,2003,105,103302,103302,Melbourne (CBD),Vacant,422-440 Elizabeth Street MELBOURNE 3000,0,Vacant Space,144.961017,-37.808630
3,2003,105,103302,103302,Melbourne (CBD),The Garden Cafe,"Shop 3, Ground , 422-440 Elizabeth Street MELB...",4511,Cafes and Restaurants,144.961017,-37.808630
4,2003,105,103302,103302,Melbourne (CBD),Telephony Australia,"Shop 5, Ground , 422-440 Elizabeth Street MELB...",5809,Other Telecommunications Services,144.961017,-37.808630

In [9]:
bizsize_industryjobs.head()

,census_year,clue_small_area,anzsic_indusrty,clue_industry,business_size,total_establishments,total_jobs
0,2015,West Melbourne (Residential),Health Care and Social Assistance,Health Care and Social Assistance,Large business,1,NaN
1,2015,West Melbourne (Residential),Manufacturing,Manufacturing,Medium business,5,171.0
2,2015,West Melbourne (Residential),Manufacturing,Manufacturing,Non employing,1,NaN
3,2015,West Melbourne (Residential),"Professional, Scientific and Technical Services",Business Services,Non employing,3,0.0
4,2015,West Melbourne (Residential),"Rental, Hiring and Real Estate Services",Real Estate Services,Small business,5,42.0